html
  head
    title Harry dancing academy
    block style
  body
    nav#navbar.top
        div#logo
            img(src="/static/logo.png")
            span.name HDA
        ul
            li #[a(href="/") HOME]
            li #[a(href="/") ABOUT]
            li #[a(href="/ ") SERVICES]
            li #[a(href="/contact") CONTACT US]
            li #[a(href="/") CLASS INFO]
    block content
  footer#footer 
        | © Copyright - 2023 harrydanceAcademy.com | All rights reserved